.consult{
    width: 33%;
    height: auto;
    /* padding-right: 25px; */
    padding-left: 15px;
    margin-top: 20px;
}
.discount-heading{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.discount-heading p{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 334px;
    width: 100%;
    min-height: 28px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(198, 198, 198);
    background-color: rgb(13, 13, 13);
    border-radius: 80px;
    padding: 3px 28px 3px 4px;
    margin: 0px 0px 40px;
}
.discount-heading p span{
    padding: 4px 12px;
    background: #FDEF00;
    border-radius: 20px;
    color: #171717;
    font-weight: bold;
    margin-right: 8px;
    font-size: 14px;
}
.craft{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.craft h1{
    margin-bottom: 40px;
    color: #C4C4C4;
    font-size: 2.3em;
}
.craft p{
    line-height: 25px;
    /* font-size: 14px; */
    color: #C4C4C4;
}
.email-consult{
    width: 100%;
    height: auto;
}
.email-input{
    width: 100%;
    height: auto;
    position: relative;
}
.email-input input[type=email]{
    width: 100%;
    padding: 20px;
    padding-left: 65px;
    border-radius: 5px;
    background: #000000;
    border: none;
    outline: none;
    color: #C4C4C4;
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
}
.email-input svg{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 18px;
    height: 18px;
    transform: translate(-50%,-50%)
}
.email-btn{
    display: flex;
    align-items: center;
}
.consult-btn {
    display: block;
    width: auto;
    margin-right: 25px;
}
.consult-btn button{
padding: 16px 25px;
border-radius: 5px;
outline: none;
border: none;
font-size: 12px;
font-weight: bold;
background: #FDEF00;
}
.explore-more {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.explore-more a{
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;

font-size: 13px;
}
.explore-more a p{
font-weight: bold;
color: #C4C4C4;
margin-right: 7px;
}
.more-arrow{
    width: 15px;
    height: 1px;
    background: #C4C4C4;
    display:inline-block;
    position: relative;
}
.more-arrow::before{
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width:7px;
    height: 1px;
    background: #C4C4C4;
    transform:rotate(35deg);
}
.more-arrow::after{
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width:7px;
    height: 1px;
    background: #C4C4C4;
    transform:rotate(-35deg);
}
.explore-more:hover .more-arrow{
    animation:arr 1s infinite ease;
}
@keyframes arr{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(10px);
        
    }
}
@media only screen and (max-width:1600px){
    .consult{
        width: 560px;
        padding-left: 0;
        padding-right: 88px;
    }
}
@media only screen and (max-width:1360px){
    .consult{
        width: 45%;
        padding-right: 75px;
    }
    .craft h1{
        font-size: 1.7em;
    }
}
@media only screen and  (max-width:1075px){
    .discount-heading p{
        font-size: 11px;
    }
    .craft h1{
        font-size: 1.5em;
    }
}
@media only screen and (max-width:945px){
    .discount-heading p{
        font-size: 10px;
    }
}
@media only screen and (max-width:900px){
    .consult{
        padding-right: 55px;
    }
}

@media only screen and (max-width:870px){
    .craft h1{
        font-size: 1.2em;
    }
}
@media only screen and (max-width:875px){
    .consult-btn button{
        font-size: 10px;
    }
    .explore-more a{
        
        font-size: 10px;
    }
}
@media only screen and (max-width:820px){
    .consult-btn button{
        font-size: 9px;
        padding: 12px 22px;
    }.explore-more a{
        
        font-size: 10px;
    }
}
@media only screen and (max-width:767px){
    .craft h1{
        font-size: 2.4em;
    }
    .consult{
        width: 100%;
        padding-right: 50px;
        margin-bottom: 50px;
    }
    .explore-more a p{
        font-size: 12px;
    } 
    .consult-btn button{
        font-size: 12px;
    }
    /* .explore-more a{
        
        font-size: 12px;
    } */
}
@media only screen and (max-width:480px){
    .consult{
        padding-right: 0px;
    }
   
}
@media only screen and (max-width:430px){
    .craft h1{
        font-size: 2.1em;
    }
   
}
@media only screen and (max-width:380px){
    .craft h1{
        font-size: 1.8em;
    }
   
}
@media only screen and (max-width:350px){
    .discount-heading p{
        font-size:9px;
    }
    .explore-more a p{
        font-size: 10px;
    } 
    .consult-btn button{
        font-size: 10px;
    }
}