.team {
    width: 100%;
    height: auto;
    padding: 10px 0 80px 0;
}

.team-wrapper {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.team-container {
    /* overflow: hidden; */
    width: 100%;
    position: relative;
}

.team-head {
    padding-bottom: 60px;
}
.team-glide{
    position: absolute;
    top: 70px;
    right: 10px;
    width: auto !important;
    margin: 0;
}
.team-slider {
    display: flex;
    align-items: center;
   height: 100%;
    /* width: 3100px; */
    /* margin-left: -25px; */
    width: 200%;
}

.team-slider-container {
    width: 100%;
    overflow: hidden;
    /* min-height: 600px; */
}

.team-slide {
    /* min-width: 400px; */
    margin: 0 25px;
    height: 100%;
    list-style: none;
}

.team-img {
    width: 100%;
    position: relative;
    border-radius: 20px;
    /* overflow: hidden; */
}

.team-img img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.team-info {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 16px;
    background: #FDEF00;
    width: calc(100% - 120px);
    border-radius: 10px;
    text-align: center;
}

.team-info h3 {
    color: rgb(25, 25, 25);
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
}

.team-info p {
    color: rgb(25, 25, 25);
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.team-social{
    margin-top: 63px;
    width: 100%;

}
.team-social ul{
    display: flex;
    padding: 0;
    align-items: flex-end;
    justify-content: center;
    transition: transfrom 0.3s;
  

}
.team-social ul li{
    list-style: none;
    margin-right: 10px;
}
.team-social ul li a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(39, 51, 67);
    border-radius: 50%;
    transition: 0.3s ease 0s;
    text-decoration: none;
}
.team-social ul li a i{
    display: inline-block;
}
.team-social ul li a:hover {
background:#FDEF00;
}
.team-social ul li a i svg{
    display: inline-block;
     vertical-align: middle;
}
@media only screen and (max-width:1440px){
   .team{
       padding: 10px 0 60px;
   }
   .team-info{
       width: calc(100% - 80px);
   }
}

@media only screen and (max-width:1200px){
   .team-slide{
       /* min-width: 400px; */
       margin: 0 15px;
   }
}

@media only screen and (max-width:991px){
    .team-info{
        width: calc(100% - 60px);
    }
    .team-info h3{
        font-size: 18px;
        margin-bottom: 4px;
    }
 }
 @media only screen and (max-width:768px){
    
    .team-slider{
        width: 300%;
    }
 }
 @media only screen and (max-width:667px){
    
    .team-info h3{
        font-size: 16px;
    }
 }
 @media only screen and (max-width:525px){
    
    .team-info {
        width: calc(100% - 40px);
       bottom: -35px;
    }
    .team-slide{
        padding: 0 15px;
        margin: 0;
    }
 }
 @media only screen and (max-width:480px){
    
    .team-slider{
        width: 600%;
    }
 }