@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}
::selection{
  background: #343434;
  color: white;
}
.h{
  height: 100vh;
  width: 100%;
}